<h3>Hello!</h3>

<p>You just created an account on My Website.<br />
    To validate your account, please click on <a href="{{ renewPasswordUrl }}">this link</a>.</p>

<p><strong>KTHXBYE</strong></p>

<p><em>The admin.</em></p>
